.vscode
__pycache__
ckpts/*
final_ckpts/*
!ckpts/last_checkpoint
!ckpts/*.json
data/til2020/train/*
data/til2020/val/*
data/til2020/CV_interim_images/*
data/modanet/train/*
data/modanet/val/*
data/modanet/*.json